@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Fasthand&family=Press+Start+2P&display=swap');

html, body {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
  cursor: url('../images/cursor.png'), auto;
  user-select: none;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 120px;
    margin: 0;
    font-family: 'Emilys Candy', cursive;
}

h2 {
    font-family: 'Emilys Candy', cursive;
    margin: 0px;
    font-size: 42px;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: #1e1e1e;
    position: relative;
}

.sound {
    position: absolute;
    top: 16px;
    left: 16px;
}

.sound:not(.playing) img{
    filter: grayscale();
}

.bkarrow {
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.bkarrow img {
    height: 50px;
}

.hover {
    cursor: url('../images/hover-cursor.png'), auto;
}















/*
i wanna make a rule that says if i mean like whenever i point on sumthing
like the 
what class do i make
yea that is what i wanna have
make the rule
then the code

how do i make it smoller

is there a way 2 make that go away >.>

i wanna make it smoller

im getting ppl 2 follow kiara rn o.o 

    did i do it rite o.o
    what is happening


    lets make a back button x.x

    like 1st 
    so that we can go back

    well idk how 2 find them x.x

    ok what nxt

    ok sryy
    i was looking at cuute things x.x
    
    even like
    jic

    lets work on page 2

    looks good so far x.x

    so we need 2 get ur pic on the page
    so we need 2 make boxes n stuff

    lets put back arrow on bottom left

    n then
    
    lets get the other icons
    mayb the music changes o:

    sumthing a lil more..
    lets make it like
    fun
    idkk

    but yea
    so

    what do we do 1st




*/