@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Fasthand&family=Press+Start+2P&display=swap');

html, body {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
  cursor: url('../images/cursor.png'), auto;
  user-select: none;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
}

a, a:focus, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}

a {
    display: block;
    cursor: url('../images/cursor.png'), auto;
}

a:hover {
    cursor: url('../images/hover-cursor.png'), auto;
}

.link {
    transform: translateX(-45px);
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: #1e1e1e;
    position: relative;
}

.sound {
    position: absolute;
    top: 16px;
    left: 16px;
}

.sound:not(.playing) img{
    filter: grayscale();
}

.bkarrow {
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.bkarrow img {
    height: 50px;
}

.hover {
    cursor: url('../images/hover-cursor.png'), auto;
}

.char {
    height: 492px;
    width: 343px;
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(25% 0, 100% 0%, 75% 100%, 0% 100%);
}

.char .img {
    clip-path: polygon(25% 0, 100% 0%, 75% 100%, 0% 100%);
}

.char.simp .img {
    background-image: url('../images/simp.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.char.simp:hover {
    background-image: url('../images/simp-bg.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.char.dom .img {
    background-image: url('../images/dom.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.char.dom:hover {
    background-image: url('../images/dom-bg.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.char.sub .img {
    background-image: url('../images/sub.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.char.sub:hover {
    background-image: url('../images/sub-bg.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.char.troll .img {
    background-image: url('../images/troll.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.char.troll:hover {
    background-image: url('../images/troll-bg.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.chair {
    display: flex;
    flex-wrap: wrap;
}

.button {
    border: 2px solid #FFFFFF;
    border-radius: 13px;
    padding: 16px 24px;
    text-align: center;
    margin-top: 10px;
    transition: all .29s ease-in-out;
}

.simp.button:hover {
    color: rgb(206,255,11);
    border: 2px solid rgb(206,255,11);
}

.dom.button:hover {
    color: rgb(11,64,255);
    border: 2px solid rgb(11,64,255);
}

.sub.button:hover {
    color: rgb(255,11,187);
    border: 2px solid rgb(255,11,187);
}

.troll.button:hover {
    color: rgb(255,11,11);
    border: 2px solid rgb(255,11,11);
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}

.gradient {
    position: relative;
    width: 351px;
    height: 500px;
    clip-path: polygon(25% 0, 100% 0%, 75% 100%, 0% 100%);
}

.gradient.yellow {
    background: rgb(206,255,11);
    background: linear-gradient(0deg, rgba(206,255,11,1) 0%, rgba(206,255,11,1) 58%, rgba(255,255,255,1) 100%);
}

.gradient.blue {
    background: rgb(11,64,255);
    background: linear-gradient(0deg, rgba(11,64,255,1) 0%, rgba(11,64,255,1) 58%, rgba(255,255,255,1) 100%);
}

.gradient.pink {
    background: rgb(255,11,187);
    background: linear-gradient(0deg, rgba(255,11,187,1) 0%, rgba(255,11,187,1) 58%, rgba(255,255,255,1) 100%);
}

.gradient.red {
    background: rgb(255,11,11);
    background: linear-gradient(0deg, rgba(255,11,11,1) 0%, rgba(255,11,11,1) 58%, rgba(255,255,255,1) 100%);
}


/*


    





















*/