@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Fasthand&family=Press+Start+2P&display=swap');

html, body {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
  cursor: url('../images/cursor.png'), auto;
  user-select: none;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 120px;
    margin: 0;
    font-family: 'Emilys Candy', cursive;
}

h2 {
    font-family: 'Emilys Candy', cursive;
    margin: 0px;
    font-size: 42px;
}

p {
    padding: 0px;
    margin: 0px;
    margin-bottom: 8px;
}

a, a:visited, a:focus {
  color: white;
  text-decoration: none;
}

a.start {
    color: fuchsia;
    font-size: 20px;
    animation: flash 1.5s steps(2, end) infinite both;
    margin-top: 42px;
    display: block;
    cursor: url('../images/hover-cursor.png'), auto;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: #1e1e1e;
    position: relative;
}

.sound {
    position: absolute;
    top: 16px;
    left: 16px;
}

.sound:not(.playing) img{
    filter: grayscale();
}

.settings {
    position: absolute;
    top: 16px;
    right: 16px;
    animation: float 1.2s ease-in-out infinite alternate-reverse both;
}

.settings img{
    height: 55px;
}

.credits {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-family: 'Press Start 2P', cursive;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(-10%)
  }
  100% {
    transform: translateY(10%)
  }
}

@keyframes letters {
  0% {
    transform: translateY(-10%) rotate(-5deg)
  }
  100% {
    transform: translateY(10%) rotate(5deg)
  }
}

@keyframes wave {
  0% {
    transform: translateY(0%)
  }
  100% {
    transform: translateY(-50%)
  }
}

 @-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.box a:hover span {
  animation: wave 0.25s linear alternate infinite both;
  display: inline-block;
}

.box a:hover span:nth-child(2) {
  animation-delay: 0.15s;
}

.box a:hover span:nth-child(3) {
  animation-delay: 0.28s;
}

.box a:hover span:nth-child(4) {
  animation-delay: 0.41s;
}

.box a:hover span:nth-child(5) {
  animation-delay: 0.54s;
}

.box h1 span {
  animation: letters 1.8s ease-in-out alternate infinite both;
  display: inline-block;
  transform-origin: center center;
}

.box h1 span:nth-child(2) { /*A*/
  animation-duration: 1.49s;
}
.box h1 span:nth-child(3) { /*T*/
  animation-duration: 1.31s;
}
.box h1 span:nth-child(4) { /*E*/
  animation-duration: 1.67s;
}
.box h1 span:nth-child(5) { /*E*/
  animation-duration: 1.98s;
}
.box h1 span:nth-child(6) { /*m*/
  animation-duration: 1.27s;
}
.box h1 span:nth-child(7) { /*i*/
  animation-duration: 1.89s;
}
.box h1 span:nth-child(8) { /*l*/
  animation-duration: 1.19s;
}
.box h1 span:nth-child(9) { /*y*/
  animation-duration: 1.77s;
}

.settingPannel {
  height: 100%;
  width: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: deeppink; 
  transition: all 0.39s ease-in-out;
  white-space: nowrap;
}

.showsets {
  width: 200px;
}

.creditsPanel {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.creditsPanel .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.creditsPanel .container {
  width: 70%;
  height: 70%;
  position: relative;
  z-index: 69;
}

.creditsPanel .container .background {
  background-image: url("../images/credits.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 69px;

}

.creditsPanel .container .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 70;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 69px;
}

.creditsPanel.showPanel {
  display: flex;
  -webkit-animation: puff-in-center 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: puff-in-center 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.icon, .closeS, .closeP, a{
  cursor: url('../images/hover-cursor.png'), auto;
}

.closeP {
  position: absolute;
  top: 10px;
  right: 115px;
  font-size: 36px;
  padding: 12px;
}

.indent {
  padding-left: 20px;
}


/* i kinda wanna make it a pic

  i wanna smoke cigyy 
  we should push r code



*/




























/* 

  i dont want the opacity ne more




  i want it 2 b like
  transparent
  so like
  we can still see the letters behind it


  i think what i wanna have is the delay 
  i think that is what im picturing
  but not explaining it rite
  i wanna "start" 2 wave rlly fast mayb 


    sryy im p hi rn
    n my brain is like
    proceessing rn
    im liike
    figuring things out ig
    puting it together
    liike
    it makes sense

  wait
  it works
  it workd
  it work










  i told u i will update r patch notes :3

  i dont like that it get all squish when it is going off the screen 

  google wont buy like that i asked
  >.>

    i told shiro 
    that u said i am victoria secret goth 
    n she laugh in my face x.x 
    she was liike
    yeaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    x.x
    n when i wnt 2 the other venue
    n ask if they think i am goth 
    >.>
    then
    i showed them by bartending skills 
    ez pz
    they were liike

    i never have gumyy worms or caprisun o.o
    i think he means just as his ff bartender o.o
    most bartends prollyy dont use gumyy worms or caprisun
    just mee
    i am unique :3

    mute button

  i didnt no what word u said u goob


  oh
  i not if statements
  if "blank" then this thing happens
  rite
  ok ill shut up
  o.o

  sryy i was doing a thing on ff


  ig the question is..
  should the music start over when u unpause
  or should it pickup where u pause it

  what that all we did 2day
  k
  yea should i add that
  mhm mhm 

  ok
  now we have um

  patch notes
  can i put my patch notes in sumplace so ppl can see

  help

  >.>

  whyy >.>
  thats dumm

  how do i do that
  >.>


  u didnt see that x.x
  jess will b home soon x.x

    ok so
    i yea like the controler
    but
    i wanna make them like
    each letter float on its own
    do u uwnderstand
    i dont wanna them 2 all 

    yea kinda
    like they r just floating there not rlly in a specific way
    not like wavey 
    rite
    yea
    we will get it

    wait rlly
    that is awesome

    yea i wanna do that

    dev emilyy

    ok

    





















































  why can we .show when there is no show class on the left




    also
    i wanna make a diffiii mouse on the screen
    n mayb when u liike  hover over the music notes the mouse will change 2 another icon
    ok just that 4 now
    im getting excited x.x

    n getting ahead of myself x/x

    ok now we have 2 make it liike a box in the middle of the screen n like
    make it prettyy n stuff
    u no what i mean

    is it?

    like what we just made a super uggyy box x.x
    i RLYYYYYYYY wanna drink this coffeee rn x.xmy coffeee maker
    is in the car

    remember

    when she getr hpome
    i will get it from the car
    n then it will b inside 4ever
    is just bran new
    we never open this 1 yet
    n has been siting in the car cuz jess lazyy bumm wont bring it in x.x
    not that i bring it in eithe r soooo .. :eyes: 
    yea u dont remind me so tbhh
    rlyy
    is ur fault i dont have coffeee rn
    shame

    wait
    r u srslyy gonna have coffee without me >.>
    if i cant have coffee then u shouldnt have coffee
    ew
    coffee jelyy
    i have had 0 cigyy 2day

    i took 1 pull earlier
    mhm

    im still liike kinda riding that hi 4 rn

    i dont need 2 b blasted all day x.x
    i was p blasted b4 x.x when i 1st took the pull

    yee

    ok


    ok so obvii there r liike a billion 22 pick from
    so i pick 

    u should get me sodiii poppyyy
    x.x
    like 100 sodii poppyyys


    well thats a bug x.x

    so judgyy 

  ok
  so
  few things

  yes
  it work

  now

  we wanna make it so it autp plays
  n then
  also
  loops
  n when u click 
  instread of play
  it is toggle

  wait
  ok
  there was liike a rlyy long delay  from the start 2 the reset

  should we 
  update r version
  o.o

  i update us from 0.1.2 -> 0.1.3

  i updated r patch notes :3

  wellllll
  i mean
  we have sum kinda music
  so ig that is fine
  like the settings box
  is just shabbyy work
  but
  is sumthing
  u no
  we need 2 make a credits box 2 
  im gonna do that while u look at things

  mayb nxt thing we work on is how 2 turn off music >.>

  wait im not done yet 



*/















